@use "mixins" as *;

// TITLES
@font-face {
  font-family: "Fjalla One";
  src: url(../assets/fonts/Fjalla_One/FjallaOne-Regular.ttf) format(truetype);
}

// REGULAR TEXT
@font-face {
  font-family: "Victor Mono";
  src: url(../assets/fonts/Victor_Mono/static/VictorMono-ExtraLight.ttf)
    format(truetype);
  font-weight: 200;
}

@font-face {
  font-family: "Victor Mono";
  src: url(../assets/fonts/Victor_Mono/static/VictorMono-Regular.ttf)
    format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: "Victor Mono";
  src: url(../assets/fonts/Victor_Mono/static/VictorMono-Bold.ttf)
    format(truetype);
  font-weight: 700;
}

body {
  font-family: "Victor Mono", monospace;
  margin: 50px;

  a,
  a:focus {
    color: inherit;
  }
}

.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;

    &--left {
      font-family: "Fjalla One", monospace;
      width: 50%;

      .full-name {
        font-size: 70px;
      }

      .position {
        font-size: 30px;
        margin-top: 20px;
      }
    }

    &--right {
      width: 50%;
      position: relative;

      .about-me {
        text-align: justify;
        line-height: 22px;
        font-size: 16px;
      }

      .date {
        margin-top: 35px;
      }

      .signature {
        width: 200px;
        height: 100px;
        position: absolute;
        right: 15px;
        top: 100px;
        z-index: 2;
      }
    }
  }

  .title {
    font-family: "Fjalla One", monospace;
    font-size: 120px;
    text-align: center;
    letter-spacing: 30px;
    margin: 50px 0;
  }
}

.main {
  @include flex(row, space-between, start, 50px);
  padding: 0 100px 20px;
  font-size: 25px;

  // LEFT SIDE OF MAIN SECTION

  &__left {
    width: 50%;
  }

  .section-title {
    font-family: "Fjalla One", monospace;
    font-size: 50px;
    margin-top: 50px;
  }

  &__row-container {
    @include flex(row, space-between, center, 20px);
    width: 100%;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }
  }

  .row-content {
    font-size: 18px;
    font-weight: 400;
  }

  .mt-25 {
    margin-top: 25px;
  }

  .mt-15 {
    margin-top: 15px;
  }

  .icon {
    font-size: 22px;
    margin-left: 20px;
    color: #606c38;
  }

  .skills-list {
    @include flex(row, space-evenly, center, 30px 30px);
    flex-wrap: wrap;
    margin: 40px 0;

    li {
      width: 30%;
      text-align: center;
    }
  }

  .data {
    border-bottom: 1px solid #606c38;
    padding: 10px 0;

    .symbol {
      color: #606c38;
      font-size: 20px;
    }
  }

  // RIGHT SIDE OF MAIN SECTION

  &__right {
    @include flex(column, space-between, center, 50px);
    width: 40%;
    font-size: 18px;
    margin-top: 70px;

    .avatar {
      width: 500px;
      border: solid 3px #606c38;
    }

    .contacts {
      width: 85%;
    }

    .socials {
      @include flex(row, center, center, 15px);
      font-family: "Fjalla One", monospace;
      margin-top: 50px;

      .sm-btn {
        @include flex(column, center, center, 20px);
        width: 150px;
        height: 70px;
        background-color: transparent;
        border: white 2px solid;
        overflow: hidden;
        position: relative;
        color: #606c38;
        font-size: 20px;
        font-family: "Fjalla One", monospace;

        .sm-icon {
          position: absolute;
          z-index: 2;
          transition: 300ms ease-out;
          font-size: 30px;
        }

        a {
          transform: translateY(-50px);
          text-decoration: none;
          transition: 300ms ease-out;
        }

        &:hover .sm-icon {
          transform: translateY(70px);
          transition: 300ms ease-in;
        }

        &:hover a {
          transform: translateY(0px);
          transition: 300ms ease-in;
          font-weight: 700;
        }
      }
    }
  }
}

// ARTICLE TEXT STYLING

.toggle-description {
  display: none;
  transition: all 0.3s ease-in-out;
}
.toggle-description.active {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
}

.icon-more {
  color: white;
  transition-duration: 500ms;
  margin-right: 15px;
  transform: rotate(0deg);
}

.icon-more.active {
  transform: rotate(45deg);
}

.toggle-title:hover .icon-more {
  color: black;
  transition-duration: 500ms;
}

.credentials {
  color: white;
  font-weight: 700;
  transition-duration: 3000ms;

  &:hover {
    color: #606c38;
    transition-duration: 1000ms;
  }
}

.footer {
  @include flex(row, space-between, center, 200px);
  margin: 70px 50px 0;
  font-size: 16px;
  font-family: "Fjalla One", monospace;
}

// MODALS FOR CERTIFICATES

.cert-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);

  &__content {
    @include flex(column, center, center, 20px);
    width: 60%;
    height: 50%;
    position: relative;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);

    .close {
      font-size: 40px;
      background-color: transparent;
      color: white;
    }

    .cert-img {
      width: 800px;
      height: 600px;
    }
  }
}
